.appicon {
	border-radius: 75px;
}

/* a,
a:hover,
a:visited,
a:active {
	color: black;
	text-decoration: black;
	text-emphasis: none;
} */

/* .footer-dark {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: red;
	color: white;
	text-align: center;
} */
